<div class="navtop container-fluid">
    <div class="container">
        <nav class="navbar navbar-toggleable-sm ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCep" aria-controls="navbarCep" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>

            <div class="flex-column collapse navbar-collapse" id="navbarCep">
                <ul class="navbar-nav mx-auto">

                    <a class="navbar-brand" href="#">
                        <img style="width: 120px; margin-top: -10px; padding: 6px 30px 0 0;" src="public/images/logo/png/logo_gb_materiales_med.png" alt="GB">
                    </a>
            </div>
        </nav>
    </div>
</div>