<div class="citas " style="padding-top: 20px; text-align: center; ">
    <p>¿Quieres ser distribuidor?<a class="btn btn-cita " href="#!/contacto " role="button ">Solicitar Cita</a></p>
</div>

<div class="navtop container-fluid ">
    <div class="container footer ">
        <div class="row ">
            <div class="col-sm-3 ">
                <img style="width: 120px; " src="public/images/logo/png/logo_gb_materiales_med.png " alt="GB ">
            </div>

            <div class="col-sm-5 ">
                <div class="items ">Contacto<br></div>
                <div class="items ">
                    <img style="width: 18px; margin-bottom: 5px " src="public/images/icons/svg/phone-call.svg " alt="GB "> +58 416 641 7814 / +58 241 821 2202
                    <br>
                </div>
                <div class="items ">
                    <img style="width: 18px; margin-bottom: 5px " src="public/images/icons/svg/mail.svg " alt="GB "> operaciones@giolibmateriales.com
                    <br>
                </div>
                <div class="items ">
                    <img style="width: 18px; margin-bottom: 5px " src="public/images/icons/svg/placeholder.svg " alt="GB "> Avenida 107, Centro Comercial <br> La Viña Siglo XXI. Piso 3. oficina 7A.<br> Valencia, Venezuela.
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="items ">Horario<br></div>
                <div class="items ">Lunes a Viernes: 8:30 am - 5:00 pm<br></div>
                <div class="items ">Sábado y Domingo: Cerrado</div>
                <div class="social ">
                    <a href=" "><i class="fa fa-facebook "></i></a>
                    <a href=" "><i class="fa fa-instagram "></i></a>
                    <a href=" "><i class="fa fa-twitter "></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container menu2 ">
        <nav class="navbar navbar-toggleable-sm borde ">
            <div class="flex-column collapse navbar-collapse " id="navbarCep ">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active ">
                        <a class="nav-link " href="# ">Inicio</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Tienda</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Servicios</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Nosotros</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Eventos</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Blog</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Contacto</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Ayuda</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " href="# ">Mi cuenta</a>
                    </li>
            </div>
        </nav>
        <div class="copyright ">© Todos los derechos reservados por Materiales Giolib. Desarrollado por Prisma Agencia Creativa.</div>
    </div>
</div>