<div class="logos " style="padding: 20px 0px 20px 0px; ">
    <a class="btn btn-catalogo " href="# " role="button ">Ver catálogo</a>
</div>

</section>

<div class="banner distribuidor ">
</div>

<div class="banner paypal ">
</div>

<div class="banner fabrica ">
    <div class="play ">
        <a href=" "><img style="width: 50px; " src="public/images/icons/svg/play.png " alt="play "></a>
    </div>
</div>

<div class="logos ">
    <img src="public/images/logo/png/logo_yatu.png " alt="Yatu ">
    <img src="public/images/logo/png/logo_flamingo.png " alt="Flamingo ">
    <img src="public/images/logo/png/logo_maxytone.png " alt="Maxytone ">
</div>