<dashboard-top></dashboard-top>
<!-- -->

<section class="container">
    <div class="nav-scroller bg-white box-shadow bg-dark-blue">
        <nav class="nav nav-underline white b">
            <a class="nav-link active white ttu" href="#">Contacto</a>
            <a class="nav-link white ttu" href="#">Control Contacto</a>
            <a class="nav-link white ttu" href="#">Producto</a>
            <a class="nav-link white ttu" href="#">Control Producto</a>
            <a class="nav-link white ttu" href="#">Colores</a>
            <a class="nav-link white ttu" href="#">Control Colores</a>
        </nav>
    </div>
    <div class="nav-scroller bg-white box-shadow bg-blue">
        <nav class="nav nav-underline">
            <a class="nav-link white ttu" href="#">Categorías</a>
            <a class="nav-link white ttu" href="#">Control Categrorías</a>
            <a class="nav-link white ttu" href="#">Marcas</a>
            <a class="nav-link white ttu" href="#">Control Marcas</a>
            <a class="nav-link white ttu" href="#">Usuario</a>
            <a class="nav-link white ttu" href="#">Control Usuario</a>
            <a class="nav-link white b ttu" href="#">Salir</a>
        </nav>
    </div>
</section>
<!-- -->
<main role="main" class="container">
    <section class="my-3 p-3 bg-light-gray rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0 ttu b"><i class="fa fa-user"></i> contactos</h6>
        <div class="mt2">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr class="b ttu bg-blue white">
                        <td>nombre</td>
                        <td>correo</td>
                        <td>telefono</td>
                        <td>mensaje</td>
                        <td>estatus</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>