<public-top></public-top>
<!-- -->
<div class="banner2 nosotros">
</div>

<div class="container logos">
    <img src="public/images/gallery/png/general/fabrica_yatu_1.png" style="height: 286px; width: 50%; padding-top: 20px;">
    <h4 style="color: #000; padding-top: 40px;">El Negocio</h4>
    <p style="color: rgba(0,0,0,0.8); padding-top: 5px;">Materiales Giolib es una empresa dedicada a la distribución de soluciones para el re acabado automotriz: Resina, Solventes, Diluyentes y aditivos, de alta calidad y tecnología de última generación. Distribuidores exclusivos para el mercado venezolano
        de la marca Maxytone, ofrecemos además de nuestro portafolio de productos, asesoría post venta para la comercialización y aplicación de nuestros productos.</p>
</div>

<div class="banner mision-vision">
    <div class="container mv">
        <div class="row">
            <div class="colum logos mv-txt">
                <img style="width: 90px; fill:red !important;" src="public/images/icons/svg/mision.svg" alt="GB">
                <h5 style="color: #000">Misión</h5>
                <p>Proveer bienestar a las familias de nuestros trabajadores, clientes y asociados.</p>
            </div>

            <div id="vertical-bar"></div>

            <div class="colum logos mv-txt" id="border-mv">
                <img style="width: 80px;" src="public/images/icons/svg/target.svg" alt="GB">
                <h5 style="color: #000">Visión</h5>
                <p>
                    Ser una empresa líder en el mercado de reacabado automotriz, llevando soluciones y bienestar en el entorno en que nos encontremos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mv valores mx-auto">
    <h4 style="text-align: center; margin-top: 30px;">Valores</h4>

    <div class="row">
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">1</span>FELICIDAD</p>
                    <p class="card-text">Como el estado perfecto del ser humano, donde logramos potenciar al máximo nuestras habilidades.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">2</span> PASIÓN</p>
                    <p class="card-text">Como acompañante de todo lo que hacemos, NECESITAMOS lideres apasionados, que a su vez compartan su pasión por sus compañeros, clientes y entorno en general.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">3</span>LIDERAZGO VISIONARIO</p>
                    <p class="card-text">Como el estado perfecto del ser humano, donde logramos potenciar al máximo nuestras habilidades.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">4</span> RELEVANCIA</p>
                    <p class="card-text">Todos nuestros productos, servicio y comunicación deben ser culturalmente relevante en nuestro entorno.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">5</span>MULTIPLICACIÓN</p>
                    <p class="card-text">Como el estado perfecto del ser humano, donde logramos potenciar al máximo nuestras habilidades.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">6</span>MAYORDOMÍA</p>
                    <p class="card-text">Fieles administradores de nuestras finanzas, tiempo y talentos en nuestra vida personal y laboral, a fin de beneficiar a nuestro entorno.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">7</span>FAMILIA</p>
                    <p class="card-text">Entendiendo que la familia es la base fundamental de la sociedad y hacen de ella una prioridad en el desarrollo de líderes y futuros emprendedores.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-v">
                <div class="card-block">
                    <p class="title-v"><span class="number-v">8</span>INTEGRIDAD</p>
                    <p class="card-text">Rendimos cuentas de nuestras acciones y funciones, la integridad da honra, protege y fomenta el crecimiento dentro y fuera de nuestra organización.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -->
<public-footer></public-footer>