<public-top></public-top>
<!-- -->

<div class="container-fluid login-back">
    <div class="row container-login mx-auto">
        <div class="col-sm-6 form-login">
            <form class="sign-box mx-auto" style="width: 70%;">

                <header class="sign-title" style="padding-top: 30px; font-size: 1.5rem;"><b>Bienvenido,</b></header>
                <p style="padding-bottom: 30px; color: #878584;">ingrese datos para iniciar sesión</p>

                <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="padding-bottom: 20px;">
                    <div class="input-group-addon"><a href=""><i class="fa fa-user-o"></i></a></div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                </div>

                <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="padding-bottom: 20px;">
                    <div class="input-group-addon"><a href=""><i class="fa fa-lock"></i></a></div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Contraseña">
                </div>
                <div class="">
                    <button type="submit" class="btn btn-login" style="background-color: orange">ENTRAR</button><br>
                    <button type="submit" class="btn btn-login" style="background-color: #000; margin-top: 10px;">REGISTRARME</button>
                </div>
                <p style="padding-top: 10px;"><a style="color: black;" href="">¿Has olvidado tu contraseña?</a></p>
            </form>

        </div>
        <div class="col-sm-6 img-login">

        </div>
    </div>
</div>

<!-- -->
<public-footer></public-footer>