<public-top></public-top>
<!-- -->
<div class="banner2 servicios">
</div>

<div class="container-asesoria banner2 asesoria">
    <div class="text-asesoria" style="float: right; background-color: rgba(7,7,158,0.8); color: #fff;">
        <p style="font-size: 1.4rem;"><b>Asesoría Comercial</b></p>
        <p>Somos una empresa que surgió para atender las diferentes necesidades y requerimientos de toda nuestra cartera de clientes.</p>
        <p>Nuestra oferta va más allá de presentarles productos de alta tecnología. Nuestro compromiso siempre será el ofrecerles estrategias que incrementen y maximicen su inversión.</p>
        <a class="btn btn-asesoria" href="#!/contacto" role="button">Solicitar Cita</a></p>
    </div>
</div>

<div class="container-asesoria banner2 tecnico" style="margin-bottom: 40px;">
    <div class="text-asesoria" style="float: left; background-color: rgba(227,227,227,0.9); color: rgba(7,7,158,0.8);">
        <p style="font-size: 1.4rem;"><b>Servicio Técnico</b></p>
        <p>Le ofrecemos el mejor servicio técnico a fin de mantener a su equipo a la vanguardia de las nuevas tecnologías para el proceso de re acabado automotriz.</p>
        <p>Ofrecemos constante formación técnica a su equipo en las áreas de re acabado y restauración de vehículos.</p>
        <a class="btn btn-asesoria" href="#!/contacto" role="button">Solicitar Cita</a></p>
    </div>
    <div>

    </div>
</div>

<a href="#!/contacto">
    <div class="banner2 descuento" style="margin-bottom: 20px;">
    </div>
</a>
<!-- -->
<public-footer></public-footer>